/* You can add global styles to this file, and also import other style files */

:host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  
@mixin text-properties($size,$font-weight,$color,$line-height){
  font-size: $size;
  font-weight: $font-weight;
  color: $color;
  line-height: $line-height;
}


main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
 
}


.content {
  max-width: 920px;
  position: relative;
}

.capitalize-first {
  text-transform: lowercase; 
}

.capitalize-first::first-letter {
  text-transform: uppercase; 
}

@mixin capitalize-first {
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}


.heading {
  @include text-properties(24px, 600, #150d0d , 1);
  @include capitalize-first();
  margin-bottom: 0;
}

.sub-heading {
  @include text-properties(16px, 400, #444 , 1.4);
  @include capitalize-first();
  padding-block: .08rem 1rem;
  margin: 0;
}

@mixin button {
  @include text-properties(16px, 600, #fff , 1.4);
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ddd;

  border-radius: 10px;
  background-color: #39638C;
  width: 10rem;

  text-align: center;

  z-index: 1;

 

  &:hover {
    box-shadow: 0 .45rem .45rem 0 rgba(50,50,50,.2);
    border-width: 2px;
  }
}

.pokemon {
  &-button {
    @include button(); 
    position: sticky;
    top: -4px;
    left: 10px;
  }
}

.pokemon-button ~ ::ng-deep app-pokemon {
  .download-button {
    @include button();
    
    position: fixed;
    transform: translate(100%);
    top: -4px;
    left: 55%;

  }
}








 

