

<main class="main">
  <div class="content">

      

        <div class="pokemon-button" (click)="toggleComponent()">
          {{ lazyComponent ? 'Back to Items' : 'Pokemon Tables' }}
        </div>
    
      
      <ng-container *ngIf="lazyComponent; else itemsList">
        <ng-container *ngComponentOutlet="lazyComponent"></ng-container>
      </ng-container>
      
      <ng-template #itemsList>
        <ng-container >
          @for (item of data; track item.title )
          {
            <div>
              <h2 class="heading">{{ item.title }}</h2>
              <p class="sub-heading"> {{ item.body }}</p>
            </div>      
          }
        </ng-container>
      </ng-template>


  </div>
</main>
<app-timer/>
<router-outlet />




